.stack-work/
.history

doc/*.aux
doc/*.log
doc/*.bbl
doc/*.out
doc/*.blg
doc/*.synctex.gz
doc/*.fls
doc/*.fdb_latexmk
doc/*.pdf
doc/**/auto/
doc/notes/memo.tex

doc/paper/*.aux
doc/paper/*.log
doc/paper/*.bbl
doc/paper/*.out
doc/paper/*.blg
doc/paper/*.pdf
doc/paper/*.ptb
doc/paper/*.fdb_latexmk
doc/paper/*.fls

doc/sections/*-old
doc/*-old

/doc/footempfile.txt
/doc/pipeline.graffle
/doc/sections/miniJS.ott.tex
/doc/sections/applications.tex
/doc/sections/desugar.tex
/doc/dependency.graffle
