.stack-work/
.history

doc/*.aux
doc/*.log
doc/*.bbl
doc/*.out
doc/*.blg
doc/*.synctex.gz
doc/*.fls
doc/*.fdb_latexmk
doc/*.pdf
doc/*.nav
doc/*.snm
doc/*.toc
doc/**/auto/

doc/sections/*-old
doc/*-old
doc/impl/*
doc/bundle.tar.gz
bundle.tar.gz
doc/upload/*

/doc/footempfile.txt
/doc/pipeline.graffle
/doc/sections/miniJS.ott.tex
/doc/sections/applications.tex
/doc/sections/desugar.tex
/doc/dependency.graffle
